---
layout: page
permalink: /archive/
title: Archive
---

<div id="archives">
  {% capture category_name %}papers{% endcapture %}
  {% capture category_desc %}Notes written down while reading and trying to understand random ML/SWE/CS papers. Originally not intended for the eyes of other people and therefore possibly incomprehensible and/or flat out wrong. {% endcapture %}
  {% include archive-category.html %}

  {% capture category_name %}misc{% endcapture %}
  {% capture category_desc %}Various random content I thought might be interesting. {% endcapture %}
  {% include archive-category.html %}
</div>
