---
layout: page
permalink: /archive/
title: Archive
---

<div id="archives">
  {% capture category_name %}papers{% endcapture %}
  {% capture category_desc %}{{category_name | capitalize}} contains notes written for personal usage while reading random ML/SWE/CS papers. The notes weren't originally intended for the eyes of other people and therefore might be incomprehensible and/or flat out wrong. {% endcapture %}
  {% include archive-category.html %}

  {% capture category_name %}misc{% endcapture %}
  {% capture category_desc %}{{category_name | capitalize}} contains any random content I thought might be interesting. {% endcapture %}
  {% include archive-category.html %}
</div>
