    
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">

          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.title | escape }}</a></h1>
            <p class="site-description">{{ site.subtitle | escape }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/archive">Archive</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.personalurl }}" target="_blank">Me</a>
          </nav>
        </header>
      </div>
    </div>